[submodule "grimtalkFront"]
	path = grimtalkFront
	url = https://github.com/color-chill-guys/grimtalk-frontend.git
[submodule "grimtalkBack"]
	path = grimtalkBack
	url = https://github.com/color-chill-guys/grimtalk-backend.git
[submodule "grimtalkSocket"]
	path = grimtalkSocket
	url = https://github.com/color-chill-guys/grimtalk-socket.git
[submodule "grimtalkImageCompare"]
	path = grimtalkImageCompare
	url = https://github.com/color-chill-guys/grimtalk-image-compare.git
